/* ESTILOS GENERALES */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: #69015A;
  font-family: 'Roboto', sans-serif; /* Fuente por defecto de MUI */
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* PIE DE PÁGINA GLOBAL */
.footer {
  position: absolute;
  bottom: 16px;
  display: flex;
  gap: 8px;
  color: #E6D5E4;
  font-size: 0.875rem;
}

.footer-link {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: inherit;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

/* ANIMACIÓN GLOBAL (ej. ping, usable en varios lados) */
@keyframes ping {
  0% { transform: translate(-50%, -50%) scale(1); opacity: 0.4; }
  75% { transform: translate(-50%, -50%) scale(2); opacity: 0; }
  100% { transform: translate(-50%, -50%) scale(2); opacity: 0; }
}
